<style> @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); </style>

*{ font-family: 'Kanit', sans-serif;
}


body {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    background-color: #e5e5f7;
opacity: 1;
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);}

.game{
    width: 480px;
    height: 490px;
    margin: auto;
    background-color: white;
    border-radius: 25px;
    opacity: 1;
}


#jeu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    margin: auto;
    font-family: 'Kanit', sans-serif;
    
}

.case{
    border: 1px solid black;
    height: 100px;
    line-height: 100px;
    font-size: 80px;
}

#recommencer {
    border-radius: 25px;
    width: 128px;
    height: 28px;
    background-color: blue;
    color: white;
    font-weight: 600;
}

#recommencer:hover {
    cursor: pointer;
}
